@import '../../assets/styles/variables.scss';


.app-button,
.submit-btn {
	background-color: $oxford-blue-color;
	border-radius: 5px;
	color: $white-color;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	padding: 10px 20px;
	text-align: center;
	vertical-align: middle;
}

button:hover {
	background-color: $shamrock-color;
}

.main-screen button {
	margin-top: 10px;
}

.app-navigation-panel button {
	background-color: transparent;
	margin-bottom: 30px;
}

.app-navigation-panel button:hover {
	color: $raven-color
}

#menu-toggle button {
	background-color: $oxford-blue-color;
	width: 30px;
	height: 30px;
	padding: 0;
	margin-top: 20px;
	border-radius: 0px 5px 5px 0px;
}


#skills button {
	position: static;
	text-align: justify;
	min-width: 134px;
	height: 40px;
	border-radius: 5px;
	font-size: 16px;
	padding: 10px 20px;
}

.app-section-container button:last-child {
	width: 30px;
	height: 30px;
	padding: 0;
	position: fixed;
	bottom: 0;
	right: 36px;
	border-radius: 5px 5px 0px 0px;
}

div.app-section-container button:hover,
.submit-btn:hover {
	background-color: $oxford-blue-color;
	color: $shamrock-color;
}

@media (max-width: 600px) {
	.app-navigation-panel .text {
		display: none;
	}

	#menu-toggle button {
		position: fixed;
		left: 54px;
	}
}