@import '../../../assets/styles/variables.scss';

.filter-container {
	margin-top: 10px;
	display: flex;
}

.filter-container * {
	margin-right: 3px;
}

.filter-item {
	display: flex;
}

//.filter-container .separator:last-of-type {
//	display: none;
//}

//.separator:last-of-type {
//	display: none;
//}

.filter:hover {
	cursor: pointer;
}

.filter:active {
	color: $shamrock-color;
}

.container {
	width: 100%;
	display: flex;
	margin-top: 10px;
	margin-bottom: 5px;
	flex-wrap: wrap;
}

.card {
	display: flex;
	flex-direction: column;
	max-width: fit-content;
	max-height: fit-content;
	margin-top: 10px;
	margin-right: 20px;
}