@import '../../assets/styles/variables.scss';

.filter-container {
	margin-top: 10px;
	display: flex;
}

.filter-container * {
	margin-right: 2px;
}

.separator {
	margin-left: 2px;
}

.filter-item {
	display: flex;
}

.filter:hover {
	cursor: pointer;
}

.filter:active {
	color: $shamrock-color;
}

.isChecked {
	color: $shamrock-color
}

.container {
	width: 100%;
	display: flex;
	margin-top: 10px;
	margin-bottom: 5px;
	flex-wrap: wrap;
}

.card {
	height: 190px;
	width: 308px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	max-width: fit-content;
	max-height: fit-content;
	margin-top: 10px;
	margin-right: 20px;
}

.card-info-container {
	transition: all 0.6s ease;
	padding-top: 192px;
}

.card-info-container:hover {
	padding-top: 0;
}