@import '../../../assets/styles/variables.scss';

.card-info {
	align-self: flex-start;
	box-sizing: border-box;
	padding: 20px 15px;
	border: 1px solid $alto-color;
	z-index: 10;
	background-color: rgb(255, 255, 255, 0.97);
	width: 308px;
	height: 190px;
}

.card-info h4 {
	font-family: 'OpenSansBold';
	color: $shamrock-color
}

.card-info a {
	font-size: 14px;
	color: $shamrock-color;
}