@import '../../assets/styles/variables.scss';

.app-navigation {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

a.active {
	color: $shamrock-color;
}

.app-navigation__nav-list-item {
	box-sizing: border-box;
	padding-left: 20px;
	text-decoration: none;
	display: flex;
	align-items: center;
	color: $raven-color;
	width: 100%;
	height: 60px;
}

.app-navigation__nav-list-item:hover {
	color: $shamrock-color;
	cursor: default;
}

.fa-icon-nav {
	width: 14px;
	margin-right: 50px;
}

@media (max-width: 600px) {
	.app-navigation__nav-list-item {
		width: 54px;
	}
}