@import './assets/styles/variables.scss';

html {
	min-width: 480px;
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Open Sans;
	font-style: normal;
	color: $oxford-blue-color
}

#root {
	width: 100%;
	height: 100%;
}