@import './assets/styles/variables.scss';

@font-face {
	font-family: "OpenSansBold";
	src: local("OpenSansBold"),
		url("./assets/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "OpenSansReg";
	src: local("OpenSansReg"),
		url("./assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
	font-weight: normal;
}

html {
	min-width: 480px;
	width: 100%;
	height: 100%;
	overflow: auto;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "OpenSansReg";
	color: $oxford-blue-color
}

#root {
	width: 100%;
	height: 100%;
}