$midnight-color: #000614;
$oxford-blue-color: #222935;
$shamrock-color: #26C17E;
$raven-color: #667081;
$gallery-color: #EEEEEE;
$white-color: #FFFFFF;
$black-color: #000000;
$alto-color: #DDDDDD;
$error-color: red;